.navbar{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.7px solid lightgrey;
}
.navbar-logo{
    font-size: 22px;
    font-weight: bold;
    color: #00B4D8;
}

.navbar-links{
    font-size: 18px;
}