.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-size: 3mm;
    text-align: center;
    width: 18cm;
    margin: 0 auto;
    border-left: 1px solid;
    border-right: 1px solid;
}
.grid-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px); /* Adjust the position of the line as needed */
    border-left: 1px solid #000; /* Adjust the line color and style as needed */
  }
.customer-sign{
    align-self: flex-end;
}

.term{
    justify-self: start;
}