:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media print {
  body {
    margin: 0; /* Remove default margins */
    page-break-before: always;
  }
  
}

#main-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#home-form{
 height: 86vh;
 overflow-y: auto;
 overflow-x: hidden;
 scrollbar-width: thin;
 scrollbar-color: #888 #f1f1f1;
}

#invoice-in-createInvoice{
  scale: 90%;
  height: 86vh;
  overflow-y: auto;
 overflow-x: hidden;
 scrollbar-width: thin;
 scrollbar-color: #888 #f1f1f1;
}

/* scroll bar design for createINvoice page */
/* Style for the WebKit-based browsers (Chrome, Safari) */
#invoice-in-createInvoice::-webkit-scrollbar {
  width: 6px;
}

#invoice-in-createInvoice::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#invoice-in-createInvoice::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Style for Firefox */

#invoice-in-createInvoice::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#home-form::-webkit-scrollbar {
  width: 6px;
}

#home-form::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#home-form::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

#home-form::-webkit-scrollbar-thumb:hover {
  background: #555;
}